:root {
  --main-color: #1b262c;
  --secondary-color: #bbe1fa;
  --third-color: #3282b8;
  --forth-color: #0f4c75;
  --border-color: rgba(0, 0, 0, 0.5);

  --compli-color: #ee9b00;

  --hover-color-1: #022c43;
  --hover-color-2: #ffb476;

  --nav-bar-background: #1b262cf5;
}

@font-face {
  font-family: "Elixia";
  src: url("elixia-webfont.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#body {
  background-color: var(--main-color);
  overflow-x: hidden;
  margin-bottom: 2rem;
}

.nav-bar {
  padding: 10px 5px 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(var(--secondary-color), transparent);
}

.nav-bar h2 {
  font-family: Elixia, sans-serif;
  font-size: 3rem;
  margin-left: 15px;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Gradient and Animation settings */
  background: linear-gradient(
    45deg,
    #155353 20%,
    #ff7300 30%,
    #ff7300 70%,
    #155353 80%
  );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 5s linear infinite;
}

/* Text Gradient Animation */
@keyframes shine {
  to {
    background-position: -200% center;
  }
}

.nav-bar svg {
  cursor: pointer;
  width: 50px;
  height: fit-content;
  margin-right: 15px;
  z-index: 10;
}

.nav-bar svg line {
  stroke: var(--secondary-color);
}

.nav-items {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 4;
  height: 100vh;
  width: 100vw;
  background-color: var(--nav-bar-background);

  /* Animation Info*/
  transform-origin: top right;
  transform: rotate(-90deg);
  transition: all 0.5s ease-in-out;
}

.nav-item {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

.nav-item a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  transition: 0.5s;
  z-index: 5;
}

.nav-item a:hover {
  font-size: 2rem;
}

/* Calculator section */

#calculator {
  width: 75%;
  margin: 0 auto;
  background-color: var(--forth-color);
  border: 2px solid var(--border-color);
  border-radius: 15px;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "Comfortaa", sans-serif;
  color: var(--secondary-color);
  letter-spacing: 0.2rem;
}

.main-buttons-container {
  border-top: none;
}

.main-buttons-container.values:last-of-type {
  padding-bottom: 1rem;
  border-radius: 0 0 15px 15px;
}

#calc-result {
  width: 100%;
  min-height: 4rem;
  border-bottom: 2px solid var(--border-color);
  border-radius: 15px 15px 0 0;
  color: var(--main-color);
  font-size: 1.5rem;
  padding: 10px;
  text-align: right;
  background-color: var(--third-color);
  font-family: "Comfortaa", cursive;
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  word-break: break-all;
}

#calc-illust {
  width: 100%;
  min-height: 2.7rem;
  border-bottom: 2px solid var(--border-color);
  padding: 5px;
  margin-top: 10px;
  text-align: left;
  color: var(--secondary-color);
  font-family: "Comfortaa", cursive;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  word-break: break-all;
}

button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.3s;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

button.calculator-value {
  color: var(--secondary-color);
}

button.calculator-value:hover {
  background-color: var(--hover-color-1);
}

.erasers {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

button.back,
button.erase {
  width: 40%;
  text-align: center;
  font-size: 1.3rem;
  padding: 1.1rem 0;
  color: var(--secondary-color);
  transition: 0.3s;
}

button.back:hover,
button.erase:hover,
button.calculator-helper:hover {
  background-color: var(--hover-color-1);
}

#calculator button:active {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -1px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}

.erasers button svg {
  fill: var(--secondary-color);
  height: 150%;
  margin: auto;
  margin-top: -5px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  transition: 0.3s;
}

.calc-container {
  display: flex;
  flex-direction: column;
}

.values,
.operators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0;
}

button.calculator-value {
  width: 26%;
  height: 4rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.values {
  width: 75%;
}

.operators {
  width: 25%;
  margin-right: 10px;
}

button.calculator-operator {
  background-color: var(--compli-color);
  color: var(--forth-color);
  transition: 0.3s;
}

button.calculator-operator:hover {
  background-color: var(--hover-color-2);
}

button.calculator-operator {
  width: 90%;
  margin-top: 1rem;
  padding: 1rem 0;
  font-size: 1.5rem;
}

/* Convertor section */

#convertor {
  padding: 5px;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.conversion-type {
  width: 100%;
  padding: 10px;
}

.conversion-unit-start,
.conversion-unit-end,
.conversion-value,
.conversion-type {
  border: 2px solid var(--border-color);
  border-radius: 20px;
  background-color: var(--forth-color);
  color: var(--secondary-color);
  font-family: "Comfortaa", sans-serif;
  font-size: 1.2rem;
}

.conversion-unit-start,
.conversion-unit-end,
.conversion-value {
  margin-top: 10px;
  padding: 10px;
}

.conversion-unit-start,
.conversion-unit-end {
  width: 35%;
}

.conversion-value {
  width: 60%;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.2rem;
}

.conversion-value::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.conversion-value.start::-webkit-inner-spin-button,
.conversion-value.start::-webkit-outer-spin-button {
  appearance: none;
}

select {
  appearance: none;
  cursor: pointer;
  background: url("down-chevron.png") no-repeat right var(--secondary-color);
  background-size: 30px;
  background-position: calc(100% - 10px) 50%;
}

select::-ms-expand {
  display: none;
}

option {
  font-family: "Comfortaa", sans-serif;
  font-size: 1rem;
}

label {
  width: 100%;
  padding-top: 15px;
  margin-left: 20px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

/* Media queries for small screensz*/

@media (min-width: 640px) {
  button.erase {
    font-size: 1.5rem;
  }

  .calc-container {
    flex-direction: row;
  }

  .container {
    border-bottom: 0;
    justify-content: space-evenly;
  }
}

@media (min-width: 840px) {
  .nav-items {
    margin-right: 20px;
    position: initial;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 4;
    height: initial;
    width: initial;
    background-color: transparent;

    /* Animation Info*/
    transform: rotate(0deg);
  }

  .nav-item {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin-left: 20px;
  }

  .nav-item a {
    color: var(--main-color);
    font-weight: 800;
  }

  .nav-item a:hover {
    font-size: 1.5rem;
  }

  .nav-bar svg {
    display: none;
  }

  .title {
    margin-top: 2.5rem;
  }

  #calculator {
    width: 60%;
  }

  #convertor {
    width: 60%;
  }

  button.erase {
    font-size: 1.8rem;
  }

  button.erase,
  button.back {
    padding: 1.5rem 0;
  }

  .container {
    justify-content: space-evenly;
    border-bottom: 0;
  }

  .values {
    width: 60%;
  }

  .values button {
    height: 4rem;
  }

  .operators {
    width: 20%;
    margin-right: 10px;
  }

  .operators button {
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  .nav-items {
    margin-right: 20px;
    position: initial;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 4;
    height: initial;
    width: initial;
    background-color: transparent;

    /* Animation Info*/
    transform: rotate(0deg);
  }

  .nav-item {
    font-size: 1.4rem;
  }

  .nav-item a:hover {
    font-size: 1.7rem;
  }

  #calculator {
    width: 600px;
  }
  #convertor {
    width: 600px;
  }
}
